.box{
    padding: 30px 40px;
    border-radius: 5px;
}
.bendera{
    width: 150px;
    border-radius: 50%;
}
.btn{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 0px;
    color: #fff;
    background: #0866e0;
}